@media screen and (min-width: 100px) {
  .editor {
    padding: 0 16px;
    margin: 30px 0;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    width: 100%;
  }

  .inputWrapper {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .inputWrapper:nth-child(2n-1) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 616px) {
  .editor {
    padding: 0;
  }
}