.wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
}
.preloading {
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}
.wrapper {
  height: 100%;
  position: relative;
}
.overviewWrapper {
  background: #ececec;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-weight: 500;
  height: 100%;
  padding: 100px 40px 24px;
  position: relative;
  width: 100%;
}
.infoSectionsWrapper {
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  margin-bottom: 30px;
}
.infoSection {
  flex: 1;
  background: #f2f2f2;
  box-shadow: 0 37px 37px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 46px;
  margin-right: 18px;
}
.infoSection:last-child {
  margin-right: 0;
}
.infoSectionTitle {
  color: #1a173b;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 0.2px;

}
.infoSectionValue {
  color: #ff345f;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.visualSectionsWrapper {
  display: flex;
  flex: 5.5;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.visualSectionsRow {
  flex: 1;
  display: flex;
}
.visualSectionsRow:first-child {
  margin-bottom: 18px;
}
.visualSection {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 37px 37px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 40px 30px 70px 50px;
  flex: 1;
  min-height: 320px;
  display: flex;
}
.visualSection:nth-child(odd) {
  margin-right: 18px;
}
.visualSectionTitle {
  color: #354052;
  font-weight: 700;
  font-size: 29px;
}
.visualSectionLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.visualSectionRight {
  flex: 1.6;
  display: flex;
  flex-direction: column;
}
.visualSectionAlerts {
  padding-bottom: 24px;
}
.visualSectionService {
  flex-direction: column;
}
.visualSectionAlerts .visualSectionRight {
  justify-content: flex-end;
  flex: 2;
}
.donutWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.extraValues {
  flex: 1;
}
.valuesSection {
  background: #fafafa;
  box-sizing: border-box;
  box-shadow: 0 35px 53px 0 rgba(0, 0, 0, 0.05);
  color: #222222;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 130px 50px 80px;
}
.valuesSectionThin {
  padding-top: 90px;
  padding-bottom: 90px;
}
.valuesRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.title:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  height: 36px;
  margin-right: 30px;
  vertical-align: middle;
  width: 36px;
}
.pinkLabel:before {
  background: #ec5b98;
}
.blueLabel:before {
  background: #4a90e2;
}
.greenLabel:before {
  background: #50e3c2;
}
.extraValueNumber {
  display: block;
  font-size: 48px;
  line-height: 1.2;
}
.extraValueLabel {
  display: block;
  color: #8a96a0;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.4;
}
.extraValues {
  box-sizing: border-box;
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  margin-bottom: 8px;
  text-align: center;
}
.extraValue {
  color: #37394c;
  display: inline-block;
}
.value {
  font-size: 36px;
}
.barStatistic {
  padding-right: 32px;
}
.barStatisticItem {
  padding: 20px 0;
  border-top: solid 2px #ddd;
}
.barStatisticItem:first-child {
  border-top: none;
}
.barStatisticValues {
  font-size: 27px;
  line-height: 1.33;
  display: flex;
  justify-content: space-between;
}
.barStatisticValues .regular {
  font-weight: 400;
}
.barStatisticLabel {
  font-size: 15px;
  line-height: 1;
  letter-spacing: 3px;
}
.barLabels {
  background-color: #fafafa;
  box-shadow: 0 18px 27px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 36px 24px;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  flex-direction: column;
  letter-spacing: 2px;
}
.barLabel {
  padding: 16px 0;
  line-height: 1;
}
.barLabel:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  height: 18px;
  margin-right: 18px;
  vertical-align: middle;
  width: 18px;
}
.barWrapper {
  display: flex;
  justify-content: center;
}
.barWrapper svg text {
  font-family: 'Montserrat';
  font-size: 13px;
  fill: #222;
}

.datePickerRow {
  background-color: #fafafa;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 76px;
  overflow: hidden;
  padding: 0 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.datePickerButton {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ff5d3b, #ff2b67);
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  height: 35px;
  font-size: 14px;
  font-family: 'Montserrat';
  margin-left: 24px;
  width: 143px;
}

@media screen and (max-width: 1920px) {
  .datePickerRow {
    height: 50px;
    padding: 0 24px;
  }
  .wrapper {
    height: inherit;
    min-height: 100%;
  }
  .overviewWrapper {
    padding: 66px 24px 16px;
  }
  .infoSectionsWrapper {
    margin-bottom: 50px;
  }
  .infoSection {
    box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.05);
    padding: 24px;
    min-height: 120px;
    min-width: initial;
  }
  .infoSectionTitle {
    font-size: 16px;
  }
  .infoSectionValue {
    font-size: 18px;
  }
  .visualSection {
    border-radius: 4px;
    box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 20px 40px 30px;
  }
  .visualSectionTitle {
    font-size: 18px;
  }
  .extraValueNumber {
    font-size: 18px;
  }
  .extraValueLabel {
    font-size: 12px;
  }
  .extraValues {
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .valuesSection {
    justify-content: space-around;
    padding: 24px;
  }
  .title {
    font-size: 12px;
  }
  .value {
    font-size: 16px;
  }

  .title:before {
    height: 16px;
    margin-right: 18px;
    width: 16px;
  }
  .barStatisticItem {
    padding: 10px 0;
  }
  .barStatisticValues {
    font-size: 16px;
  }
  .barStatisticLabel {
    font-size: 10px;
  }
  .barStatistic {
    padding-right: 16px;
  }
  .barLabels {
    font-size: 10px;
    padding: 16px 12px;
  }
  .barLabel:before {
    height: 14px;
    margin-right: 8px;
    width: 14px;
  }
  .visualSectionRight {
    flex: 1.4;
  }
  .datePickerButton {
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    height: 26px;
    font-size: 12px;
    font-family: 'Montserrat';
    transition: opacity .2s;
    width: 100px;
  }
  .datePickerButton:hover {
    opacity: .85;
  }
  .datePickerButton:focus {
    outline: none;
  }
}
@media screen and (max-width: 1920px) and (max-height: 950px) {
  /* .wrapper {
    height: auto;
  } */
}
