@media screen and (min-width: 100px) {
 .roundFrame {
    position: relative;
 }
 .innerCircle {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-radius: 50%;
 }
 .clipCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(50% at center);
    overflow: hidden;
 }
 .borderCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 5px #00675d;  
 }
}
