@media screen and (min-width: 100px) {
  .list {
    list-style: none;
//    padding: 0 15px;
  }

  .list__item {
//    margin: 5px 0;
    transition: all .25s;
//    background-color: rgb(20, 161, 175);
//    color: #fff;
    padding: 0 15px;
    min-height: 64px;
    /*border-right: 3px solid #BF360C;*/
     /*#006064; cyan900*/
    /*#fd9e83;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .list__item h1 {
    font-weight: bold;
    font-size: 16px;

  }
  /*.list__item:hover {
    background-color: rgba(20, 161, 175, 0.65);
//    color: rgb(0, 188, 212);
  }*/
  /*.list__item_expanded{
    border-right: 3px solid  #006064;// #fd9e83;
  }*/
  /*.list__item_expanded:hover {
    background-color: rgba(108, 124, 154, 0.85);
  }*/
  .listItemInn {
    cursor: pointer;
    transition: color .2s;
//    color: #FFF;
    font-size: 14px;
  }

  .listItemInn,
  .listItemInn label {
    cursor: pointer;
  }

  .listItemInn:hover {
    /*background-color: rgb(10, 88, 116);*/
   /*color: rgb(255, 215, 136);*/
  }

  .listItemInn label {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }

  .listItemInn input[type="checkbox"],
  .listItemInn input[type="radio"] {
    margin-right: 5px;
    vertical-align: 1px;
  }
}
