@media screen and (min-width: 100px) {
 .journalControlBar {
    background-color: #009688;
    width: 100%;
    height: 48px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .controlsWrapper{
    flex: 1;
  }
}

@media print {
 .journalControlBar {
   display: none;
  }
}