{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "presets": [
    "react",
    // "stage-0",
    ["env", {
      "debug": true,
      "modules": false
    }]
  ],
  "env": {
    "production": {
      "only": [
        "src"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "presets": [
        "react",
        // "stage-0",
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}