{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "presets": [
    "react",
    ["env", {
      "debug": true
    }]
  ],
  "env": {
    "production": {
      "only": [
        "src",
        "node_modules/react-native-storage"
      ],
      "plugins": [
        ["transform-react-remove-prop-types", {
          "removeImport": true,
          "additionalLibraries": ["react-style-proptype"]
        }],
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}