{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  rules: {
    "react/prefer-es6-class": 1,
    "react/jsx-uses-react": 2,
    "no-use-before-define": 0,
    "no-confusing-arrow": 0,
    "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`
    "max-len": [1, 100, 2, {
      'ignoreUrls': true,
      'ignoreComments': false,
      'tabWidth': 2,
    }],
    "no-param-reassign": 1,
    "object-shorthand": 1,
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "__DEV__": true
  }
}