// this rules used by text editor.
// they are more strict.
// Itention is to notify developer everytime about
// using best practices created by community
{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/prefer-es6-class": 1,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 0,
    "react/sort-comp": 0,
    "no-use-before-define": 0,
    "no-confusing-arrow": 0,
    "strict": 0, // controls location of Use Strict Directives. 0: required by `babel-eslint`
    "max-len": [1, 100, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "tabWidth": 2
    }],
    "no-param-reassign": 1,
    "object-shorthand": 1,
    "arrow-body-style": 1,
    "no-underscore-dangle": 0,
    "mocha/no-mocha-arrows": 2,
    "mocha/handle-done-callback": 2
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.local-dev.js"
      }
    }
  }
}
