@media screen and (min-width: 100px) {
  .list {
    list-style: none;
    padding: 0 15px;
  }

  .list__item {
    margin: 5px 0;
  }

  :global(.vehicles-list_item) {
    cursor: pointer;
    transition: color .2s;
    color: #777;
    font-size: 14px;
  }

  :global(.vehicles-list_item),
  :global(.vehicles-list_item) label {
    cursor: pointer;
  }

  :global(.vehicles-list_item):hover {
    color: rgb(0, 188, 212);
  }

  :global(.vehicles-list_item) label {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }

  :global(.vehicles-list_item) input[type="checkbox"],
  :global(.vehicles-list_item) input[type="radio"] {
    margin-right: 5px;
    vertical-align: 1px;
  }
}