@media screen and (min-width: 100px) {
  /*the map popups*/
  /*#app > div > div.content__src-containers-InnerPortal-styles__mMm_v > div > div.fixedContent__src-components-FixedContent-styles__3eUbg.fixedContent__src-containers-Chronicle-styles__Ux3hv > div.mapContainer__src-containers-MapFleet-styles__I2Y2K.leaflet-container.leaflet-fade-anim >
  div.leaflet-map-pane > div.leaflet-objects-pane > div.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper
  div.leaflet-map-pane > div.leaflet-objects-pane > div.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper*/
  /*#app > div > div.content__src-containers-InnerPortal-styles__mMm_v > div > div.fixedContent__src-components-FixedContent-styles__3eUbg.fixedContent__src-containers-Chronicle-styles__Ux3hv > div.mapContainer__src-containers-MapFleet-styles__I2Y2K.leaflet-container.leaflet-fade-anim > div.leaflet-map-pane > div.leaflet-objects-pane > div.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper*/
    :global(div.widePopUp) {
      width: 175px !important;
      /*overflow: hidden;*/
      }
    :global(div.leaflet-popup-content) {
      min-width: 100px;
      /*width: 200px;*/
      padding: 3px;
      margin: 0;
      font-weight: lighter;
      pointer-events: none;
      }
    :global(div.leaflet-popup) {
      pointer-events: none;
      }

  :global(div.drvr-leaflet-div-icon) {
      background: none;
      border: none;
      outline: none;
    }

  :global(div.drvr-leaflet-div-lable-icon) {
      background-color: none;
      border: none;
      outline: none;
      width: initial !important;
      white-space: nowrap;
    }
}
:global(.leaflet-touch .leaflet-control-attribution) {
  display: none;
}
:global(.start-marker){
  width: 190px;
  padding: 7px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  bottom: 24px;
  left: 24px;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Montserrat';
  background-image: linear-gradient(to top, rgb(255, 42, 104), rgb(255, 94, 58));
  border-radius: 100px;
  color: #fff;
  cursor: default;
}

:global(.finish-marker) {
  width: 190px;
  padding: 7px 0px;
  text-align: center;
  overflow: hidden;
  position: relative;
  bottom: 24px;
  letter-spacing: 3px;
  left: 24px;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Montserrat';
  background-image: linear-gradient(to top, rgb(0, 118, 255), rgb(0, 255, 128));
  border-radius: 100px;
  color: #fff;
  cursor: default;
}
:global(div.leaflet-popup-content-wrapper) {
  background: rgba(39, 104, 195, 0.75);
  padding: 0;
  margin: 0;
  color:#fff;
  font-size:12px;
  line-height:18px;
  border-radius: 2px;
  pointer-events: none;
  }
:global(div.leaflet-popup-tip) {
  background: rgba(39, 104, 195, 0.75);
}
:global(.chronicleMarkerInfo div.leaflet-popup-content-wrapper) {
  background: #444444;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 2.7px;
  padding: 25px;
}
:global(.chronicleMarkerInfo) {

}
:global(.chronicleMarkerInfo div.leaflet-popup-tip) {
  background: #252525;
}
:global(.chronicleMarkerInfo div.leaflet-popup-content) {
  width: 230px !important;
}
:global(.chronicleMarkerInfo .icon) {
  position: absolute;
}
:global(.chronicleMarkerInfo .text) {
  text-align: center;
  line-height: 37px;
  padding-left: 24px;
  width: 100%;
}
:global(.chronicleMarkerInfo .icon),
:global(.chronicleMarkerInfo .text) {
  display: inline-block;

}
:global(.chronicleMarkerInfo div.leaflet-popup-content div:first-child) {
  margin-bottom: 15px;
}

@media screen and (max-width: 1920px) {
  :global(.start-marker),
  :global(.finish-marker){
    width: 100px;
    text-align: center;
    bottom: 14px;
    font-size: 14px;
  }
  :global(.leaflet-interactive:first-child) {
    stroke-width: 4px;
  }
  :global(.chronicleMarkerInfo div.leaflet-popup-content) {
    width: 150px !important;
  }
  :global(.chronicleMarkerInfo div.leaflet-popup-content div:first-child) {
    margin-bottom: 10px;
  }
  :global(.chronicleMarkerInfo div.leaflet-popup-content-wrapper) {
    font-size: 12px;
    line-height: 1.4;
    padding: 15px;
  }
}
