@media screen and (min-width: 100px) {
  .containerBox {
    background-color: #CFD8DC;
    color: #fff;
    width: 100%;
    height: 150px;
    position: relative;
    }
  .timeMarkerLine {
    pointer-events: none;
    background-color: #e64a19;
    color: #fff;
    width: 1px;
    position: absolute;
    left: 33.33%;
    top: 0;
    height: 150px;
    }
   .statusTextContainer {
     pointer-events: none;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #accad8;
     text-align: center;
   }
   .statusTextContainer h1 {
     font-size: 64px;
   }

}
