@media screen and (min-width: 100px) {
  .timeFrameBox {
    position: absolute;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px rgba(0, 150, 136, 0.27);
    display: flex;
    padding-left: 32px;
    align-items: center;
  }
  .picker {
    overflow: hidden;
    width: 120px;
  }
  .tipTextContainer {
    pointer-events: none;
    color: #accad8;
    font-size: 24px;
  }
  .iconStyles {
    marginRight: 24px;
  };
  .betaContainer {
    pointer-events: none;
    color: #accad8;
    font-size: 24px;
  }

}

@media print {
  .timeFrameBox {
    display: none;
  }
}
