@media screen and (min-width: 100px) {

  .listItemNoChronicle {
      background-color: #1f757d;;
      border-bottom-color: rgb(70, 70, 70);
  }
  .listItemNoChronicle:hover {
    background-color: #2896a1;
    border-bottom-color: rgb(70, 70, 70);
  }

  .warn {
    color: #b2dfdb;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .warn_white {
    color: #fff;
  }

  .indicator {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}
