@media screen and (min-width: 100px) {

  .iconDelBtn {
    float: right;
      }
  /*.listItemInn_expanded:hover {
//    color: rgb(255, 215, 136);
  }*/
  .listItemNoChronicle {
      background-color: #1f757d;;
      border-bottom-color: rgb(70, 70, 70);
    }
  .listItemNoChronicle:hover {
    background-color: #2896a1;
    border-bottom-color: rgb(70, 70, 70);
  }
}
