@media screen and (min-width: 100px) {
  .table {
    background-color: transparent;
  }
  .row {
  }
  .row:nth-child(odd) {
  }
  .aCell{
    white-space: normal;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
  }
  .addrCell{
    white-space: normal;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
  }
  .dateCell{
  }
  .durationCell{
  }
  .distCell{
  }
  .speedrCell{
  }
  /*.row {
    font-size: 12px;
    height: 32px;
  }
  .row:nth-child(odd) {
    background-color: #ddd;
  }
  .addrCell{
    width: 30%;
    padding: 2px;
    border-right: solid 1px gray;
  }
  .dateCell{
    padding: 2px;
    border-right: solid 1px gray;
  }
  .durationCell{
    padding: 2px;
    border-right: solid 1px gray;
  }
  .distCell{
    padding: 2px;
    border-right: solid 1px gray;
  }
  .speedrCell{
    padding: 2px;
  }*/
}

@media print{
  .row {
    font-size: 12px !important;
    height: 32px;
    border-bottom: solid 1px gray;
  }
  /*.row:nth-child(odd) {
    -webkit-print-color-adjust: exact;
    background-color: #eee !important;
  }*/
  .titleCell{
    /*width: 100%;*/
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 14px;
    /*width: 250px;*/
    /*color: #FFFFFF;*/
    font-size: 14px;
    /*display: flex;*/
    /*justify-content: space-between;*/
  }
  .valueCell{
    width: 450px;
  }
}