@media screen and (min-width: 100px) {
  .loginContainer {
    width: 100%;
    padding: 20px;
  }

  .paper__inn {
    padding-bottom: 10px;
  }

  .loginForm {
    padding: 10px 30px;
  }

  .header {
    text-align: center;
    font-weight: normal;
    padding: 10px 0;
  }
  .header__portal {
    font-weight: bold;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 460px) {
  .loginContainer {
    width: 50%;
    margin: 0 auto;
    max-width: 430px;
  }
}