@media screen and (min-width: 100px) {
 .journalContainer {
  background-color: rgb(124, 143, 156);
  height: 100%;
  /*max-height: 200px;*/
  overflow-y: visible;;
  /*border-bottom: 2px solid #e64a19;*/
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);
  z-index: 1;
 }
.toggleBtn {
    /*position: absolute;
    top: 50px;
    z-index: 2000;*/
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1200;
  }
.toggleBadge {
  position: absolute;
  top: 8px;
  right: 15px;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  /*border: 1px solid rgb(176, 4, 4);*/
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bolder;
    /*z-index: 2000;*/
  }
  .journalList {
    height: 100%;
    width: 400px;
    overflow-y: scroll;
 }
 .journalEntry {
  background-color: rgb(222, 233, 236);
  width: 100%;
  display: flex;
  /*border: 1px solid #fff;*/
}
.journalEntry:nth-child(odd) {
 background-color: #bed9e0;
}
.journalEntrySpanT {
  padding-left: 7px;
  padding-right: 7px;
  /*border-left: 3px solid rgba(0, 0, 0, 0.18);*/
}
.journalEntrySpanName {
  width: 200px;
  padding-left: 7px;
  padding-right: 7px;
  border-left: 3px solid rgba(0, 0, 0, 0.18);
}
.journalEntrySpan {
  padding-left: 7px;
  padding-right: 7px;
  border-left: 3px solid rgba(0, 0, 0, 0.18);}
}
