@media screen and (min-width: 100px) {
  .containerBox {
    background-color: #CFD8DC;
    color: #fff;
    width: 100%;
    /*height: 70px;*/
    z-index: 100;
    }
  .timeMarkerLine {
    background-color: #000;
    color: #fff;
    width: 3px;
    position: absolute;
    left: 33.33%;
    top: 0;
    height: 200px;
    z-index: 200;
    }
}
