@media screen and (min-width: 100px) {
  .item {
    padding: 5px 0;
    cursor: pointer;
  }

  .item:hover .link{
    color: rgb(0, 188, 212);
  }

  .link {
    transition: color .2s;
    color: #777;
    font-size: 14px;
  }
}