.fixedContent {
  min-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-left: 360px;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}
@media screen and (max-width: 1920px) {
  .fixedContent {
    margin-left: 265px;
  }
}
