@media screen and (min-width: 100px) {
  .configurator {
    margin-bottom: 20px;
  }

  .button:not(:last-child) {
    margin-right: 15px; 
  }

  .error {
    font-size: 14px;
    color: red;
  }

  .form {
    margin-top: 20px;
  }
}