@media screen and (min-width: 100px) {
  .summaryWrapper {
    display: flex;
    align-items: center;
    height: 64px;
  }

  .amount {
    position: relative;
    line-height: 45px;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 10px;
    border-color: #fff;
    color: #fff;
  }

  .amount__icon {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 22px;
    height: 22px;
    overflow: hidden;
    background-color: rgb(0, 150, 136);
    border-radius: 50%;
  }

  .amount__svg {
    position: absolute;
    top: 1px;
    left: 1px;
  }
}