@media screen and (min-width: 100px) {
  .searchBoxContainer {
//    position: fixed;
    background-color: #10ac8b;
    color: #fff;
    width: 100%;
    height: 128px;
    border-color: #94177c;
    border-width: 1px;
    overflow: hidden;
  }
  .presetBtnsArea {
    background-color: rgba(#10ac8b, 0.29);
    color: #fff;
//    width: 100%;
    height: 64px;
  }

}
