@media screen and (min-width: 100px) {
  .list {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
  }

  .list__item {
    display: inline-block;
    margin-right: 15px;
  }

  .list__item:last-child {
    margin-right: 0;
  }
}