@media screen and (min-width: 100px) {
  .filterContainer {
    width: 100%;
    border-bottom: 2px solid #e64a19;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: #fff;
  }
}