@media screen and (min-width: 100px) {
  .EditorContainer {
    position: fixed;
    background-color: #3eb6aa;
    color: #fff;
    width: 250px;
    height: 100%;
    /*TODO: make highLevel container for PowerList/GF editor - move shadows etc there
    */
    z-index: 10;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .5);
    border-right: 4px solid #E64A19;
    }
  .FullHeight {
    height: 100%;
    }
  .FullHeightScroll {
    height: 100%;
    overflow-y: scroll;
    }
}
