@media screen and (min-width: 100px) {
  .intervals {
    display: flex;
    margin-top: 5px;
  }

  .interval-col {
    margin-right: 25px;
    max-width: 150px;
  }
  .interval-col:last-child {
    margin-right: 0;
  }

  .picker {
    width: 150px;
    margin-bottom: 5px;
  }
  .picker > div {
    width: 100%;
  }
}