@media screen and (min-width: 100px) {
  .listItem {
    background-color: #30bd1e;
    color: #fff;
    width: 100%;
    min-height: 64px;
    border-color: #259417;
    border-width: 1px;
    padding: 3px 3px 3px 12px;
    font-size: 18px;
      }
  .listItemSelected {
    background-color: #00bcd4;
    color: #fff;
    width: 100%;
    border-color: #259417;
    border-width: 1px;
    padding: 3px 3px 3px 16px;
    font-size: 18px;
      }
}
