@media screen and (min-width: 100px) {
  .innerPortal {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
  }

  .content {
    flex: 1;
    overflow-y: auto;
    padding-top: 64px;
    height: 100%;
  }
}
