@media screen and (min-width: 100px) {
  .list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .list__item {
    width: 100%;
    margin: 0 5px 15px;
  }
}

@media screen and (min-width: 540px) {
  .list__item {
    width: 48%;
  }
}

@media screen and (min-width: 800px) {
  .list__item {
    width: 32%;
  }
}