@media screen and (min-width: 100px) {
  .propContainer{
    /*width: 100%;*/
    max-width: 400px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  /*.row:nth-child(odd) {
    background-color: #ddd;
  }*/
  .titleCell{
    /*width: 100%;*/
    /*width: 250px;*/
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 14px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    /*display: flex;
    justify-content: space-between;*/
  }
  .valueCell{
    /*width: 450px;*/
  }
}

@media print{
  /*.row:nth-child(odd) {
    -webkit-print-color-adjust: exact;
    background-color: #eee !important;
  }*/
  .titleCell{
    /*width: 100%;*/
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 14px;
    /*width: 250px;*/
    /*color: #FFFFFF;*/
    font-size: 14px;
    /*display: flex;*/
    /*justify-content: space-between;*/
  }
  .valueCell{
    /*width: 450px;*/
  }
}