@media screen and (min-width: 100px) {
  .propContainer{
    /*width: 100%;*/
    max-width: 400px;
    /*color: #FFFFFF;*/
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
}
