@media screen and (min-width: 100px) {
  .editor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .listContainer {
    width: 10%;
    min-width: 250px;
    border-right: 1px solid #ccc;
    padding: 0 15px;
  }

  .detailsContainer {
    margin-left: 250px;
    padding: 0 15px;
  }
  .addBtn{
    z-index: 10;
    position: fixed;
    bottom: 10px;
    left: 208px;
  }
}