@media screen and (min-width: 100px) {
  .deviceContainer {
    position: relative;
  }
  
  .card {
    min-height: 100px;
    display: flex;
  }

  .card > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .card_withActions {
    min-height: 150px;
  }

  .actions {
    text-align: right;
  }

  .warning {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .error {
    font-size: 12px;
    color: red;
  }
}