@media screen and (min-width: 100px) {
  .installer {
    padding: 10px;
    width: 100%;
  }  
  .buttons {
    text-align: center;
  }
}

@media screen and (min-width: 360px) {
  .submitButton {
    align-self: center;
  }
}