html,
body,
:global(#app){
  height: 100%;
  overflow: hidden;
}

:global(.AlertPiechart .bb-chart-arc text) {
  font-size: 26px;
  alignment-baseline: central;
}

:global(.AlertPiechart .bb) {
  text-align: center;
}
