@media screen and (min-width: 100px) {
  .barContainer {
    position: fixed;
    top: 0;
    width: 100%;
    /*put it above map elements*/
    z-index: 1100;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);
  }

  .bar {}

  .centerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
