@media screen and (min-width: 100px) {
  .toaster {
    text-align: center;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    transition: opacity .3s;
  }

  .toaster_show {
    opacity: 1;
    margin-top: 5px;
  }

  .toaster_error {
    color: #ff0000;
  }
}