@media screen and (min-width: 100px) {
  .chip {
    margin: 4px;
  }
  .alertsList {
    z-index: 10;
    width: 200px;
    height: 300px;
    border-radius: 4px;
    /*border: solid 1px #009688;*/
    border: solid 1px #00675d;
    background-color: #00675d;
    overflow: scroll;
    position: absolute;
    right: 0px;
    top: -270px;
    /*margin-top: 12px;
    margin: 15px;
    padding: 12px;*/
  }
  .wrapper {
    /*width: 100%;
    border-radius: 3px;
    border: solid 1px gray;
    margin-top: 12px;*/
    margin: 15px 0;
    /*padding: 12px;*/
    position: relative;
  }
  .wrapperHeader {
    /* padding: 12px 12px 36px 12px; */
    margin-bottom: 12px;
    /* background-color: darkorange; */
    font-size: 32px;
    /* line-height: 24px; */
    color: #009688;    
  }

  .chipsWrapper {
    display: flex;
    flex-wrap: wrap;
    /*min-height: 64px;*/
  }
  .kindOfSelector {
    display: flex;
    /*justify-content: space-between;*/
  }
  .kindOfLabel {
    width: 200px;
  }
  .kindOfName {
    padding-left: 7px;
  }
}
