<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (htmlWebpackPlugin.options.base) { %>
      <link rel="manifest" href="<%= htmlWebpackPlugin.options.base %>manifest.json">
    <% } else { %>
      <link rel="manifest" href="manifest.json">
    <% } %>
    <meta name="mobile-web-app-capable" content="yes">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    
    <div id="app"></div>
  </body>
</html>