@media screen and (min-width: 100px) {
  .container {
    padding: 0 16px;
    max-width: 250px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .toggle > div {
    align-items: center;
  }

  .hint {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.498039);
    text-align: center;
    margin: 10px 0 -28px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 100%;
  }

  .top {
    flex-direction: row;
  }

  .button {
    margin-bottom: 0;
  }
}